body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.toggle-container {
  text-align: center;
}

.imgdiv{
  height: 250px;
}

img {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.toggle-input {
  display: none;
}

.toggle-label {
  margin-top:50px ;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  background-color: red; 
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-slider {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-label {
  background-color: green; 
}

.toggle-input:checked + .toggle-label .toggle-slider {
  transform: translateX(30px); 
}
